<div id='messages' class='mx-5' style="{% if not messages|length %}display: none;{% endif %}">
  <div class="tile is-ancestor" style="flex-direction: row-reverse;">
    {% for message in messages %}
      <div class="tile is-parent" style="max-width: 400px;">
        <article class="tile is-child notification is-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
          <button class="delete"></button>
          <p class="subtitle is-6">
            {{ message|safe }}
          </p>
        </article>
      </div>
    {% endfor %}
  </div>
</div>

<!--Tiles are deprecated, use a Grid
<div class="grid">
  <div class="cell">
    <article class="box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
  <div class="cell">
    <article class="box">
      <p class="title">Foo</p>
      <p class="subtitle">Bar</p>
    </article>
  </div>
</div>
--->
