boto3
# celery
# celery-redbeat
decorator
dj-database-url
dj-static
Django==3.2.5
# django-cache-memoize
# django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-redis-cache
# django-rest-auth
django-rest-swagger
# django-request
# django-simple-history
django-storages
# django-timezone-field
# django-user-agents
# django-widget-tweaks
djangorestframework
# djangorestframework-simplejwt
ipython
msgpack
msgpack-numpy
numpy
pandas
popoto==0.0.3
# psycopg2
psycopg2-binary
pytz
PyYAML
redis==3.5.3
redisgraph
requests
six
toolz
waitress
