# requirements.txt
black
#celery>=5.3.4
#celery[redis]
#django-celery-beat
django-picklefield
django-prometheus
django-q2
django-redis
#flower==1.2.0
instructor
numpy>=1.22
openai
redis>=5.2.0
tenacity

# Types
#celery-types
django-stubs
pandas-stubs
types-PyYAML
types-redis
types-requests
types-setuptools

# Testing
factory-boy
freezegun
pylint
pytest-cov
pytest-django
pytest-mock
pytest-xdist
responses
testcontainers[postgresql,redis]==4.8.2

# Template requirements:
boto3
black
coreapi
decorator
dj-database-url
dj-static
Django
django-components
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-htmx
django-rest-auth
django-storages
django-widget-tweaks
djangorestframework
djangorestframework-api-key
flake8
gunicorn
icecream
ipython
Markdown
pandas
popoto
psycopg2
pydantic
pytest
pytz
PyYAML
redisgraph
requests
six
setuptools
toolz
whitenoise

