# Additional requirements:
black
celery>=5.3.4
django-picklefield
django-q2
django-redis
instructor
openai
redis>=3.5.3
tenacity

# Testing
factory-boy
freezegun
pytest-cov
pytest-django
pytest-mock
pytest-xdist
responses
testcontainers[postgresql,redis]==4.8.2

# Template requirements:
boto3
black
coreapi
decorator
dj-database-url
dj-static
Django
django-components
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-htmx
django-rest-auth
django-storages
django-widget-tweaks
djangorestframework
djangorestframework-api-key
flake8
gunicorn
icecream
ipython
Markdown
numpy
pandas
popoto
psycopg2
pydantic
pytest
pytz
PyYAML
redisgraph
requests
six
setuptools
toolz
whitenoise

