.icon-text .icon:not(:last-child) {
    margin-right: 0.25em;
}

.asse-parent-height-fix {
    position: relative;
    top: -1rem;
}

.asset-keyname {
    margin-left: -0.5rem;
    font-size: 0.8rem;
    position: relative;
    top: 0.5rem;
    color: #777;
}

.asset-value {
    border: 1px dashed #ccc;
    padding: 1rem 0.8rem 0.4rem 0.8rem;
    border-radius: 0.6rem;
    color: rgb(10, 10, 10)
}

.asset-form, .category-form {
    position: relative;
}

.asset-form .asset-submit {
    position: absolute;
    top: 1rem;
    right: -0.4rem;
}

.category-form .category-submit {
    position: absolute;
    top: 0.4rem;
    right: -2rem;
}

button.conversation-chat-option {
    height: max-content;
    white-space: inherit;
    text-align: left;
    justify-content: flex-start;
}

.no-uppercase {
    text-transform: none;
    font-size: 0.9em;
}
