{% load django_htmx %} {% load static %}

<!DOCTYPE html>
<html lang="en" data-csrf_token="{{ csrf_token }}">
  <head>
    <meta charset="utf-8" />
    {% block viewport %}
      <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock viewport %}
    <base href="/" />

    <!--FAVICON-->
    <!--iOS and Android icons-->
    <link rel="icon" href="{{ STATIC_URL }}assets/favicon.png" />

    <title id="tab_title">Django Project Template {% if debug %}DEBUG{% endif %}</title>

    <!---META TAGS--->
    {% block additional_meta_tags %} {% endblock additional_meta_tags %}

    <!--Raleway Font-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap"
    />

    <!---Web Awesome Components--->
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.4/dist/themes/default.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.4/dist/webawesome.loader.js"></script>

    <script
      src="https://kit.fontawesome.com/c83e8fd695.js"
      crossorigin="anonymous"
    ></script>

    <!--BASE CSS-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css?v=2" />

    <!-- COMPONENT'S CSS -->
    {% component_css_dependencies %}
    <!--FOR TEMPLATES TO LOAD MORE CSS-->
    {% block css %} {% endblock css %}
  </head>

  <body {% if debug %} hx-ext="debug" {% endif %}>
  {% block body_inner_html %}
    <div style="height: 100vh">
      <div class="wrapper background-style">
        {% block navbar %}
          {% component "navbar"%}{% endcomponent %}
        {% endblock navbar %}

        {% block messages %}
          {% component "messages" %}{% endcomponent %}
        {% endblock messages %}

        <main id="main" class="container" hx-history-elt>
          <wa-grid>
            <wa-col size="2" mobile="4">
              {% block left_content %}
                <!-- left column -->
              {% endblock left_content %}
            </wa-col>

            <wa-col size="8">
              {% block center_content %} {% endblock center_content %}
            </wa-col>

            <wa-col size="2" mobile="0">
              {% block right_content %}
                <!-- right column -->
              {% endblock right_content %}
            </wa-col>
          </wa-grid>
        </main>

        {% block footer %}
          {% component "footer" %}{% endcomponent %}
        {% endblock footer %}
      </div>
    </div>
    {% endblock body_inner_html %}

    <!--Javascript Placed at the end of the document. Pages load faster. -->
    <!--BASE JS-->
    <script src="{{ STATIC_URL }}js/base.js?v=1"></script>

    <!-- COMPONENT'S JS -->
    {% component_js_dependencies %}
    <!--FOR TEMPLATES TO LOAD MORE JS-->
    {% block javascript %} {% endblock javascript %}
    <!--HTMX-->
    <script src="https://unpkg.com/htmx.org@1.1.0"></script>
    {% if debug %}<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>{% endif %}
    {% django_htmx_script %}
    <!-- HYPERSCRIPT -->
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  </body>
</html>
