{% if user.is_authenticated %}
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link is-arrowless mx-3">
      <i class="fas fa-ellipsis-h" style="font-size: x-large"></i>
    </a>
    <div class="navbar-dropdown is-right" style="width: 12em">
      <a class="navbar-item"
         href="{% url 'public:account-settings' %}"
      >
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-user-ninja"></i>
          </span>
          <span>Settings</span>
        </span>
      </a>
      {% if user.is_staff %}
        <hr class="navbar-divider" />
        <a href="/admin/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-database"></i>
            </span>
            <span>Admin DB</span>
          </span>
        </a>
      {% endif %}
{#      <hr class="navbar-divider" />#}
{#      <a href="/api/" class="navbar-item">#}
{#        <span class="icon-text">#}
{#          <span class="icon">#}
{#            <i class="fas fa-book"></i>#}
{#          </span>#}
{#          <span>API Docs</span>#}
{#        </span>#}
{#      </a>#}
      <hr class="navbar-divider" />
      <a class="navbar-item" href="{% url 'public:account-logout' %}">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-sign-out-alt"></i>
          </span>
          <span>Logout</span>
        </span>
      </a>
    </div>
  </div>
{% else %}
  <a class="navbar-item" href="{% url 'public:account-login' %}">
    <i class="fas fa-user-ninja pr-2"></i>
    Login
  </a>
{% endif %}
