{% comment %}
  Alert Component
  ==============

  Purpose:
  Displays important messages that require user attention but don't block interaction.
  Unlike toasts, alerts stay on the page until dismissed by the user.

  Context Variables:
  - alert_type: The type of alert (success, info, warning, error)
  - alert_message: The message to display
  - dismissible: Whether the alert can be dismissed (default: true)
  - id: Optional ID for the alert element (default: "alert-{alert_type}")

  Usage:
  {% include "layout/alerts/alert.html" with alert_type="warning" alert_message="Please complete your profile." %}

  HTMX OOB Support:
  This component can be updated via HTMX OOB swaps.
{% endcomment %}

<div id="{{ id|default:'alert-'|add:alert_type }}"
     class="alert mb-4 px-4 py-3 rounded-xs shadow-xs border-l-4
            {% if alert_type == 'success' %}bg-green-50 border-green-500 text-green-800
            {% elif alert_type == 'error' %}bg-red-50 border-red-500 text-red-800
            {% elif alert_type == 'warning' %}bg-yellow-50 border-yellow-500 text-yellow-800
            {% else %}bg-blue-50 border-blue-500 text-blue-800{% endif %}"
     role="alert"
     aria-live="assertive">
  <div class="flex items-start">
    <div class="shrink-0">
      {% if alert_type == 'success' %}
        <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
      {% elif alert_type == 'error' %}
        <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
        </svg>
      {% elif alert_type == 'warning' %}
        <svg class="h-5 w-5 text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
        </svg>
      {% else %}
        <svg class="h-5 w-5 text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2h.01a1 1 0 000-2H9z" clip-rule="evenodd" />
        </svg>
      {% endif %}
    </div>
    <div class="ml-3 grow pt-0.5">
      <p class="text-sm font-medium">{{ alert_message }}</p>
    </div>
    {% if dismissible|default:True %}
      <div class="ml-4 shrink-0 flex">
        <button type="button"
                class="bg-transparent rounded-xs inline-flex text-gray-400 hover:text-gray-500 focus:outline-hidden"
                aria-label="Dismiss"
                hx-on:click="this.closest('.alert').remove()">
          <span class="sr-only">Dismiss</span>
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    {% endif %}
  </div>
</div>
