{% load static %}

<wa-navbar>
  <wa-navbar-brand>
    <wa-navbar-item href="/">
      <img src="{% static 'assets/img/logo.png' %}" width="28" height="28" alt="Django Project Template Logo"/>
    </wa-navbar-item>

    <wa-navbar-burger aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </wa-navbar-burger>
  </wa-navbar-brand>

  <wa-navbar-menu id="navMenu">
    <wa-navbar-start>
      {% if user.is_authenticated %}
        {#      {% component "search" %}{% endcomponent %}#}
      {% endif  %}
    </wa-navbar-start>

    <wa-navbar-end>
      {% if user.is_authenticated %}
        {#      {% component "search" %}{% endcomponent %}#}
      {% endif  %}
      {% component "account_menu" %}{% endcomponent %}
    </wa-navbar-end>
  </wa-navbar-menu>
</wa-navbar>

<div
    class="hidden"
    hx-get="."
    hx-swap="outerHTML"
    hx-trigger="something-change from:body"
    hx-select="#navMenu"
    hx-target="#navMenu"
></div>
